p {
  color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  width: 7rem;
}