:root {
  --background-colour: #537091;
  --text-colour: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  width: 100%;
  color: #000000;
}

main h1 {
  text-align: center;
  color: var(--text-colour);
}

main p {
  text-align: center;
  color: var(--text-colour);
}

.error {
  color: red;
}

.joke__output {
  margin-bottom: 10px;
}

.joke-container {
  position: relative;
}

.punchline-container {
  position: relative;
  cursor: pointer;
}

.punchline {
  background-color: #404040;
  padding: 5px;
}

.punchline__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: var(--background-colour);
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}

.pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0 0 #daff68;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@media (prefers-color-scheme: light) {
  main p {
    color: #1a1a1a;
  }

  main h1 {
    color: #1a1a1a;
  }
}
