:root {
  --background-colour: #1a1a1a;
  --text-colour: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  width: 100%;
  color: #000000;
}

main h1 {
  text-align: center;
  color: var(--text-colour);
}

main p {
  text-align: center;
  color: var(--text-colour);
}

.error {
  color: red;
}

.output {
  height: 10px;
}

@media (prefers-color-scheme: light) {
  main p {
    color: #1a1a1a;
  }

  main h1 {
    color: #1a1a1a;
  }
}
